@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
/*--- Reset---*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-weight: 400;
  font-family: "Kdam Thmor Pro", sans-serif;
}
ul {
  list-style: none;
}
img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
input,
button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}
button {
  border: none;
}
/*---App---*/
.content {
  background-image: url('https://i.pinimg.com/originals/0e/28/cb/0e28cb7d7cf948b76a8219f3870d9470.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}